/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #DAA520;
    font-family: Verdana, sans-serif;
}

h1,
h2,
h3 {
    font-family: Cambria, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #DAA520;
}

/*Header */
header {
    background-color: antiquewhite;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #DAA520;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.current-page {
    border-top: 1px solid #DAA520;
    border-bottom: 2px solid #DAA520;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: antiquewhite;
    width: 100%;
    left: 0;
    padding: 1rem 1rem 0;
    box-shadow: 0 2px 2px #DAA520;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main Content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 77px;
}

#hero {
    height: 600px;
    width: 100%;
    background-color: lightgreen;
    background: url("../images/goldentemple.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: #daa520c4;
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 85%;
    min-height: 100px;
    padding-top: 20px;
    padding-left: 10px;
}

#cover-text>h2 {
    color: #ffffff;
}

/* City info section */

#why-amritsar {
    width: 90%;
    margin: 20px auto;
}

#why-amritsar h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 175%;
}

#history-of-city > div, #culture-of-city > div{
    line-height: 20px;
    margin-bottom: 20px;
}

#history-of-city h2, #culture-of-city h2 {
    text-align: center;
}

#city-info p {
    padding: 0 20px;
    text-align: justify;
}

#city-info hr {
    border-top: 1px solid #DAA520;
    margin: 5px 0;
}

/*Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: antiquewhite;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #DAA520;
}

/* Media query: mobile devices (425px and up) */
@media screen and (min-width: 425px) {

    /* Main content */
    main {
        margin-top: 40px;
    }
}

/* Media query: tablets and larger screens (768px and up) */
@media screen and (min-width: 768px
) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }   
    
    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 170%;
        line-height: 50px;
        margin: 0 0.2rem;
    }

    /* Main content */
    main {
        margin-top: 58px;
    }

    /* Hero */
    #cover-text {
        width: 475px;
        min-height: 75px;
    }

    /* City info section */
    #city-info {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #city-info > div {
        flex: 1;
    }

    #history-of-city > div, #culture-of-city > div {
        width: 90%;
    }

    #culture-of-city {
        order: 1;
    }

    #history-of-city > div {
        align-self: flex-start;
    }

    #culture-of-city > div {
        align-self: flex-end;
    }
}

/* Media query: laptops and desktops (992px and up) */
@media screen and (min-width: 992px
) {
    /* Header */
    #logo {
        font-size: 280%;
        line-height: 75px;
    }
        
    #menu a:hover {
        border-top: 1px dotted #DAA520;
        border-bottom: 2px dotted #DAA520;
    }

    /* Main content */
    main {
        margin-top: 77px;
    }

    /* City info section */
    #why-amritsar h1 {
        font-size: 225%;
    }
}