* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Verdana, sans-serif;
}

header {
    height: 80px;
    background-color: antiquewhite;
}

/* headings and logo */
h1,
h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #DAA520;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkgoldenrod;
}

#logo {
    float: left;
    color: #DAA520;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #DAA520;
}

#menu a:hover {
    border-top: 1px dotted #DAA520;
    border-bottom: 2px dotted #DAA520;
}

.current-page {
    border-top: 1px solid #DAA520;
    border-bottom: 2px solid #DAA520;
    ;
}

/* Main image and cover text */

#main-image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url("../images/goldentemple.jpg") no-repeat center;
    background-size: 100% 100%;

    /* Animates zoom effect on loading the page */
    animation-name: main-image-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for main image */
@keyframes main-image-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
#cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 130%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 30%;
    height: 50px;

    padding-top: 10px;
    padding-left: 10px;

    background-color: #DAA520;

    top: 525px;
    text-align: center;

    position: absolute;

}

/* Explore the city */

#explore-city {
    height: 500px;
}

#why-this-city {
    margin: 20px 0;
    text-align: center;
    font-size: 300%;
}

#left-history {
    padding-top: 30px;
    width: 45%;
    float: left;
}

#right-culture {
    padding-top: 30px;
    width: 45%;
    float: right;
}

hr {
    border-top: 1px double #DAA520;
    width: 100%;
    margin: 5px 0;
}

.left-history-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    text-align: justify;
}

.right-culture-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-culture-heading p {
    text-align: justify;
}

.right-culture-heading h2 {
    text-align: right;
}

/* Footer */

footer {
    height: 80px;
    background-color: antiquewhite;
}

.social-networks {
    text-align: center;

}

.social-networks li {
    display: inline-flex;
}

.social-networks img {
    height: 35px;
    width: 35px;
    padding-top: 15%;
    padding-left: 100px;
}

/* Attractions */

.city-attractions {
    height: 1250px;
}

.city-attractions h2 {
    margin: 20px 0;
    text-align: center;
    font-size: 300%;
}

.city-attractions img {
    width: 100%;
    height: 350px;
}

table {
    width: 100%;
}

.attractions {
    padding: 0px;
}

.attractions td {
    width: 33%;
}

.attractions-text {
    padding: 0px;
}

.attractions-text td {
    width: 33%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
    color: #ffffff;
    background-color: #DAA520;
}

/* Contact Us */

#contact {
    height: 770px;
}

#left-map {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#right-form {
    padding-top: 30px;
    width: 50%;
    float: right;
}

.contactus-map {
    margin: 100px 15% 0 0;
    position: absolute;
    left: 10%;
    padding: 30px;

}

.contactus-form {
    margin: 100px 0 0 15%;
    color: #fff;
    background-color: #DAA520;
    max-width: 400px;
    position: absolute;
    right: 10%;
    padding: 30px;

}

.contactus-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    top: 5px;
    bottom: 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
    margin: 5px 0 20px 0;
}

.text-input:hover {
    border-color: #f16c6b;

}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #fafafa;
    color: #DAA520;
    display: block;

}

.submit-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* Confirmation */

.confirmation {
    height: 700px;
}

#confirmation-image {
    margin: 50px 0px;
    height: 500px;
    background: url("../images/punjabculture.jpg") no-repeat center;

    /* Animates zoom effect on loading the page */
    animation-name: main-image-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.confirmation h2 {
    margin-top: 15px; 
    text-align: center;
    font-size: 200%;
}

#message {
    text-align: center;
    font-size: 180%;
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {

    header {
        height: 80px;
        background-color: antiquewhite;
    }

    #cover-text {
        font-size: 100%;
        text-transform: uppercase;
        letter-spacing: 2px;

        padding-top: 20px;
        padding-left: 5px;

        top: 500px;
    }

    #explore-city {
        max-width: fit-content;
        height: 750px;
        margin: 0 auto;
    }

    #left-history {
        max-width: fit-content;
        float: left;
    }

    #right-culture {
        max-width: fit-content;
        float: right;
    }

    hr {
        border-top: 1px double #DAA520;
        width: 100%;
    }

     .left-history-heading {
        width: 50%;
        float: right;
        line-height: 20px;

    }

    .right-culture-heading {
        width: 50%;
        float: left;
        line-height: 20px;
    }

    .right-culture-heading h2 {
        text-align: right;
    } 

    #contact {
        height: 1150px;
        width: 100%;
        overflow: hidden;
        position: relative;

    }

    #left-map {
        padding-top: 0px; 
        width: 100%;
        float:none;
    }

    #right-form {
        padding-top: 0px;
        width: 50%;
        float: none;
    }

    .contactus-map {
        margin: 10px;
        position: relative;
        left: 15%;
        padding: 0;
    }

    .contactus-form {
        margin: 10px;
        max-width: 100%;
        position: relative;
        left: 50%;
        padding: 30px;
    }

}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    header {
        height: 120px;
        background-color: antiquewhite;
    }

    #menu {
        float: left;
        margin-left: 30px;
        line-height: 10px;
    }

    #cover-text {
        font-size: 100%;
        text-transform: uppercase;
        letter-spacing: 2px;

        padding-top: 20px;
        padding-left: 5px;

        width: 45%;

        top: 500px;
    }

    #explore-city {
        max-width: fit-content;
        height: 850px;
        margin: 0 auto;
    }

    #left-history {
        max-width: fit-content;
        float: left;
    }

    #right-culture {
        max-width: fit-content;
        float: right;
    }

    hr {
        border-top: 1px double #DAA520;
        width: 100%;
    }

    .left-history-heading {
        width: 50%;
        float: right;
        line-height: 20px;

    }

    .right-culture-heading {
        width: 50%;
        float: left;
        line-height: 20px;
    }

    .right-culture-heading h2 {
        text-align: right;
    }

    footer {
        margin-top: 3%;
        height: 60px;
    }

    .social-networks {
        text-align: center;

    }

    .social-networks li {
        display: inline-flex;
    }

    .social-networks img {
        height: 25px;
        width: 25px;
        padding-top: 35%;
        padding-left: 20px;
    }

    #left-map {
        padding-top: 0px;
        width: 100%;
        float: none;
    }

    #contact {
        height: 1100px;
    }

    #right-form {
        padding-top: 0px;
        width: 50%;
        float: none;
    }

    .contactus-map {
        margin: 10px;
        position: relative;
        left: 7%;
        padding: 0;
    }

    .confirmation {
        height: 650px;
    }
    
    #message {
        padding-top: 0px;
        text-align: center;
        font-size: 130%;
    }

}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {

    header {
        height: 100px;
    }

    #logo {
        font-size: 200%;
        padding-top: 10px;
        margin-left: 70px;
    }

    #menu {
        font-size: 100%;
        letter-spacing: 2px;
        padding-top: 10px;
        margin-left: 80px;
    }

    #logo,
    #menu {
        line-height: 30px;
    }

    #cover-text {
        font-size: 90%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;

        width: 50%;
        height: 70px;

        padding-top: 10px;
        padding-left: 10px;

        background-color: #DAA520;

        top: 600px;
        text-align: center;

        position: absolute;

    }

    #social-media-icon {
        height: 25px;
        width: 25px;
        padding-top:25px;
        padding-left: 25px;

    }
}